.CreateGroup{
    margin-top: 2em;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 1em 0;
    padding-left: 1em;
}

.CreateGroup form{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.CreateGroup form input[type="text"]{
    height: 2.5em;
    margin: 0;
    padding: 0 0.5em;
}

.CreateGroup form button{
    margin-right: 0;
}

.CreateGroup .errorMsg{
    font-weight: 600;
    color: red;
}

.content-wrapper .content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}